<!doctype HTML>
<html ng-app="testApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="javascripts/xml2json.js"></script>
    <script src="javascripts/testApp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"
  </head>
  <body>
    <div ng-controller="MainController" id="content">
      <div ng-hide="output != null && output != ''">
        <div id="keyIdLabel">Key ID:</div>
        <input ng-model="keyId" />
        <div id="vCodeLabel">vCode:&nbsp</div>
        <input ng-model="vCode" />
        <button type="button" ng-click="query()" >Submit</button>
      </div>
      <div id="result">Hello, {{ output }}!</div>
      <div ng-repeat="order in marketOrders">
        {{ order.orderId }}
      </div>
    </div>
  </body>
</html>
