<!doctype HTML>
<html ng-app="testApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="javascripts/testApp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"/>
  </head>
  <body>
    <div ng-controller="MainController" id="content">
      <div id="errorMessages" class="alert alert-danger" ng-hide="errors.length < 1">
        <div ng-repeat="error in errors">
          {{ error }}
        </div>
        <div ng-hide="api">
          <h4>The EVE CREST API was unreachable.  :(</h4>
        </div>
      </div>
      <div ng-show="api">
        <div>
          API Server ( {{ api.serverName }} - {{ api.serverVersion }} ):
          <a onclick="" href="{{ api.crestEndpoint.href }}">{{ api.crestEndpoint.href }}</a>
        </div>
        <div>
          Eve Server Status:
          <a onclick="" href="{{ api.serviceStatus.eve.href }}">{{ api.serviceStatus.eve }}</a>
        </div>
        <div>
          Players Online:
          <a onclick="" href="{{ api.userCounts.eve.href }}">{{ api.userCounts.eve }}</a>
        </div>
        <div>
          Corporation Roles:
          <a onclick="" href="{{ api.corporationRoles.href }}">{{ api.corporationRoles.href }}</a>
        </div>
        <collapsible>
          <div class="collapsible-header">
            Item Groups:
            <a ng-click="fetchItemGroups()" href="">{{ api.itemGroups.href }}</a>
          </div>
          <div ng-show="itemGroups" ng-repeat="(key, group) in itemGroups.items" class="collapsible-content">
            <!--{{ group }}-->
            <collapsible ng-click="fetchItemsForGroup( group )">
              <div class="collapsible-header">{{ group.name }} (group)</div>
              <div ng-repeat="(key, item) in group.items" class="collapsible-content">
                <collapsible ng-click="fetchTypesForItem( item )">
                  <div class="collapsible-header">{{ item.name }} (item) <!--- {{ item }}--></div>
                  <div class="collapsible-content">
                    <table class="table">
                      <tr>
                        <!--<td>Obj</td>-->
                        <td>Name</td>
                        <td>Description</td>
                      </tr>
                      <tr ng-repeat="(key, type) in item.types">
                        <!--<td>{{ type }}</td>-->
                        <td>{{ type.name }}</td>
                        <td>{{ type.description }}</td>
                      </tr>
                    </table>
                    <!--<p>{{ key }} - {{ type }} (type)</p>-->
                  </div>
                </collapsible>
              </div>
            </collapsible>
          </div>
        </collapsible>
        <div>
          Channels:
          <a onclick="" href="{{ api.channels.href }}">{{ api.channels.href }}</a>
        </div>
        <div>
          Corporations:
          <a onclick="" href="{{ api.corporations.href }}">{{ api.corporations.href }}</a>
        </div>
        <div>
          Alliances:
          <a onclick="" href="{{ api.alliances.href }}">{{ api.alliances.href }}</a>
        </div>
        <div>
          Item Types:
          <a onclick="" href="{{ api.itemTypes.href }}">{{ api.itemTypes.href }}</a>
        </div>
        <div>
          Decode:
          <a onclick="" href="{{ api.decode.href }}">{{ api.decode.href }}</a>
        </div>
        <div>
          Battle Theatres:
          <a onclick="" href="{{ api.battleTheatres.href }}">{{ api.battleTheatres.href }}</a>
        </div>
        <div>
          Market Prices:
          <a onclick="" href="{{ api.marketPrices.href }}">{{ api.marketPrices.href }}</a>
        </div>
        <div>
          Item Categories:
          <a onclick="" href="{{ api.itemCategories.href }}">{{ api.itemCategories.href }}</a>
        </div>
        <div>
          Regions:
          <a onclick="" href="{{ api.regions.href }}">{{ api.regions.href }}</a>
        </div>
        <div>
          Bloodlines:
          <a onclick="" href="{{ api.bloodlines.href }}">{{ api.bloodlines.href }}</a>
        </div>
        <div>
          Market Groups:
          <a onclick="" href="{{ api.marketGroups.href }}">{{ api.marketGroups.href }}</a>
        </div>
        <div>
          Tournaments:
          <a onclick="" href="{{ api.tournaments.href }}">{{ api.tournaments.href }}</a>
        </div>
        <div>
          Map:
          <a onclick="" href="{{ api.map.href }}">{{ api.map.href }}</a>
        </div>
        <div>
          Virtual Goods Store:
          <a onclick="" href="{{ api.virtualGoodStore.href }}">{{ api.virtualGoodStore.href }}</a>
        </div>
        <div>
          Wars:
          <a onclick="" href="{{ api.wars.href }}">{{ api.wars.href }}</a>
        </div>
        <div>
          Incursions:
          <a onclick="" href="{{ api.incursions.href }}">{{ api.incursions.href }}</a>
        </div>
        <div>
          Races:
          <a onclick="" href="{{ api.races.href }}">{{ api.races.href }}</a>
        </div>
        <div>
          Auth Endpoint:
          <a onclick="" href="{{ api.authEndpoint.href }}">{{ api.authEndpoint.href }}</a>
        </div>
        <div>
          <div>Industry:</div>
          <div style="margin-left: 20px;">
            <div>
              Facilities:
              <a onclick="" href="{{ api.industry.facilities.href }}">{{ api.industry.facilities.href }}</a>
            </div>
            <div>
              Specialities:
              <a onclick="" href="{{ api.industry.specialities.href }}">{{ api.industry.specialities.href }}</a>
            </div>
            <div>
              Teams In Auction:
              <a onclick="" href="{{ api.industry.teamsInAuction.href }}">{{ api.industry.teamsInAuction.href }}</a>
            </div>
            <div>
              Systems:
              <a onclick="" href="{{ api.industry.systems.href }}">{{ api.industry.systems.href }}</a>
            </div>
            <div>
              Teams:
              <a onclick="" href="{{ api.industry.teams.href }}">{{ api.industry.teams.href }}</a>
            </div>
          </div>
        </div>
        <div>
          Client:
          <a onclick="" href="{{ api.clients.eve.href }}">{{ api.clients.eve.href }}</a>
        </div>
        <div>
          Time:
          <a onclick="" href="{{ api.time.href }}">{{ api.time.href }}</a>
        </div>
        <div>
          Market Types:
          <a onclick="" href="{{ api.marketTypes.href }}">{{ api.marketTypes.href }}</a>
        </div>
      </div>
    </div>
  </body>
</html>
