<!doctype HTML>
<html ng-app="testApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="javascripts/xml2json.js"></script>
    <script src="javascripts/testApp.js"></script>
    <link rel="stylesheet" href="stylesheets/style.css"
  </head>
  <body>
    <div ng-controller="MainController" id="content">
      <div ng-hide="characterName != ''">
        <div id="keyIdLabel">Key ID:</div>
        <input ng-model="keyId" />
        <div id="vCodeLabel">vCode:&nbsp</div>
        <input ng-model="vCode" />
        <button type="button" ng-click="queryCharacters()" >Submit</button>
      </div>
      <div id="menu" ng-hide="characterName === ''">
        <div class="jumbotron">
          <div class="container">
            <h1>Hello, {{ characterName }}!</h1>
            <p>Please keep your hands and feet inside the spaceship at all times.</p>
          </div>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4">
              <h5>Wallet</h5>
              <table class="table-striped" ng-hide="walletJournalEntries === ''">
                <tr>
                  <th>Buyer</th>
                  <th>Seller</th>
                  <th>Amount</th>
                </tr>
                <tr ng-repeat="entry in walletJournalEntries">
                  <td>{{ entry._ownerName1}}</td>
                  <td>{{ entry._ownerName2 }}</td>
                  <td>{{ entry._amount }}</td>
                <tr>
              </table>
            </div>
            <div class="col-sm-4">
              <h3>Beef</h3>
              <p>
                Bacon ipsum dolor amet shank kielbasa ball tip swine shankle tail
                beef ribs jerky chicken. Ground round picanha short loin jowl.
                Pork belly shoulder beef pork, landjaeger ball tip short loin.
                Beef ribs ball tip drumstick tri-tip shoulder. Chuck short ribs
                kielbasa spare ribs pastrami pig salami drumstick venison andouille.
                Chuck brisket strip steak ham hock tenderloin salami capicola chicken.
              </p>
            </div>
            <div class="col-sm-4">
              <h3>Chicken</h3>
              <p>
                Bacon ipsum dolor amet shank kielbasa ball tip swine shankle tail
                beef ribs jerky chicken. Ground round picanha short loin jowl.
                Pork belly shoulder beef pork, landjaeger ball tip short loin.
                Beef ribs ball tip drumstick tri-tip shoulder. Chuck short ribs
                kielbasa spare ribs pastrami pig salami drumstick venison andouille.
                Chuck brisket strip steak ham hock tenderloin salami capicola chicken.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
